@tailwind base;
  @tailwind components;
  @tailwind utilities;

  
@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
  /* .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  } */
}


.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
  border-radius: 5px;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #C3EBFA !important;
  color: #000 !important;
}

/* Big Calender */

.rbc-btn-group:first-child {
  font-size: 13px;
}

.rbc-btn-group:first-child button{
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
  border-radius: 4px  !important;
 }


.rbc-toolbar-label {
  text-align: left !important;
  padding: 0 20px !important;
 }

 .rbc-btn-group:last-child {
  font-size: 13px;
 }
 

 .rbc-btn-group:last-child button{
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
  border-radius: 4px  !important;
 }

 .rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
 }

 .rbc-time-view {
  border-color: #eee !important;
 }

  .rbc-time-header {
    /* display: none !important; */
    /* margin: 4px !important; */
  }

  .rbc-time-content {
    border: none !important;
  }

  .rbc-time-gutter.rbc-time-column {
    font-size: 12px !important;
  }
 
  .rbc-time-gutter.rbc-time-column .rbc-timesolt-group {
    padding: 0px 20px !important;
  }
 

  .rbc-timesolt-group {
    background-color: #f7fdff !important;
  }

  .rbc-day-slot {
    font-size: 14px !important;
  }

  .rbc-event{
    border: none !important;
    color: #000 !important;
    /* padding: 10px !important; */
    /* margin: 4px !important; */
    width: 99% !important;
  }

  .rbc-event:nth-child(1) {
    background-color:#e2f8ff !important;
  }

  .rbc-event:nth-child(2) {
    background-color:#fefce8 !important;
  }

  .rbc-event:nth-child(3) {
    background-color:#f2f1ff !important;
  }

  .rbc-event:nth-child(4) {
    background-color:#fdf2fb !important;
  }

  .rbc-event:nth-child(5) {
    background-color:#e2f8ff !important;
  }

  .rbc-event:nth-child(6) {
    background-color:#fefce8 !important;
  }

  .rbc-event:nth-child(7) {
    background-color:#f2f1ff !important;
  }

  .rbc-event:nth-child(8) {
    background-color:#fbf2fb !important;
  }

  .rbc-event-label {
    color: gray !important;
    margin-bottom: 5px !important;
  }


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


  @media print {
    .rtl {
      direction: rtl;
    }
  }

  
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .nav-link {
    @apply text-zinc-500 hover:text-zinc-800 transition-colors
  }
}
